
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

.greet{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/studentWriting.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.greet::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: 0;
}
.greet h1 {
    color: white;
    font-weight: 800;
    font-size: 6rem;
    z-index: 1;
}
.greet p{
    z-index: 1;
    color: white;
}
.mylogo{
    height: 300px;
    width: 300px
}

.navbar{
    padding: 20px;
    width: 100%;
    background-color: #0F0E0E;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.navbar a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    padding: 4px;
}

.navbar a::after{
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background-color: white;
    transition: 0.5s ease ;
}

.navbar a:hover::after, .navbar a.activate::after{
    width: 100%;
}

.blog-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

}

.new-blog, .update-post, .delete-post {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}
.new-blog{
 margin: 0.5rem 20px 0;

}

.post-entry{

    height: auto;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s ease, box-shadow 0.3s ease;
}

.post-entry:nth-child(odd){
    background-color: #D3DAD9;

}
.post-entry:nth-child(even){
    background-color: #F6F6F6;

}

.post-entry h2{
    font-size: 25px;
    padding: 0.5rem 5px;
    border-radius: 5px 5px 0 0;
}

.post-entry:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.post-entry a,
.post-entry a:visited{
    color: #211832;
    text-decoration: none;

}

.post-entry-details p {
    margin: 0.5rem 0;
    font-weight: 400;
}

.post-entry h2 a:hover{
    color: red;
}

.post-entry-details{
    padding: 20px 5px;

}

.post-entry-details h2{
    margin: 0.5rem 0 ;


}

.post-entry-details h2 a{
    text-decoration: none;
}

.upper-part{
    widthL: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upper-part .text{
    width: 45%;
}

.upper-part .text h1{
    font-size: 26px;
    text-align: center;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.upper-part img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.new-post h1{
    padding: 5px 10px;
}

form p{
    margin: 1rem;
}


form label {
  display: block;
  font-weight: bold;
  color: #333;
}

form input, form textarea, form select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.selection{
    display: flex;
    gap: 10px;
}

